* , 
*::after , 
* ::before{
box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* .9) /*  for the size of the X and the O  */
}

body {
    margin: 0 
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* creating the X and O */
.cell.x:before,
.cell.x:after{
    content: '';
    width: calc(var(--mark-size)* .15);
    height:var(--mark-size);
    background-color: black;
}

.cell.x::before {
    transform: rotate(45deg);
}